@using Microsoft.AspNetCore.Authorization;
@using Newtonsoft.Json;
@using TicketHive_MadCats.Shared.Models;
@using TicketHive_MadCats.Shared.Statics;

@page "/Userpage"
@attribute [Authorize]

@inject AuthenticationStateProvider injAuthStateProvider
@inject HttpClient injHttpClient
@inject NavigationManager injNavMan

@if (true)
{
    <EditForm Model="@updateModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="oldpassword">Current Password:</label>
            <InputText id="oldpassword" class="form-control" @bind-Value="@updateModel.CurrentPassword" />
            <ValidationMessage For="@(() => updateModel.CurrentPassword)" />
            
            <label for="password">New Password:</label>
            <InputText id="password" class="form-control" @bind-Value="@updateModel.Password" />
            <ValidationMessage For="@(() => updateModel.Password)" />

            <InputSelect id="select" class="form-control" @bind-Value="@updateModel.Country">
                @foreach(string country in countries)
                {
                    <option value="@country">@country</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => updateModel.Country)" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>

    if(serverErrorMessage != null)
    {
        <div>Request failed. Server message: @serverErrorMessage</div>
    }
    if (displaySuccessMessage)
    {
        <div>Successfully changed credentials!</div>
    }
}
else
{
    <h3>Checking user credentials...</h3>
}

@code {
    // Injected properties
    [Inject]
    AuthenticationStateProvider authStateProvider { get; set; } = null!;
    [Inject]
    HttpClient httpClient { get; set; } = null!;
    [Inject]
    NavigationManager navMan { get; set; } = null!;

    // Model to be sent on valid form
    UpdateUserModel updateModel = new();

    // Variables for static use
    public List<string> countries = CountriesAndCodes.getListOfCountries;

    // Variables for dynamic use
    string newPassword = "";
    string newCountry = "";
    string? serverErrorMessage;
    bool displaySuccessMessage = false;

    // Sets userName to logged in users username
    protected override async Task OnInitializedAsync()
    {
        var state = await authStateProvider.GetAuthenticationStateAsync();
        var user = state.User;

        if(user == null)
        {
            navMan.NavigateTo("/Index");
        }

        // No idea why warning isnt suppressed
        updateModel.Username = user.Identity.Name;
    }

    public async Task HandleValidSubmit()
    {
        string serializedUpdateObj = JsonConvert.SerializeObject(updateModel);
        var response = await httpClient.PutAsJsonAsync("/api/UsersV2", serializedUpdateObj);
        var status = response.StatusCode;

        if(status == System.Net.HttpStatusCode.OK)
        {
            serverErrorMessage = null;
            displaySuccessMessage = true;
        }
        else
        {
            serverErrorMessage = await response.Content.ReadAsStringAsync();
            displaySuccessMessage = false;
        }
    }
}
